/.cache
/.monitoring
/.work
/_output
cover.out
/vendor
/.vendor-new
.vscode
.idea
.DS_Store
.devcontainer
kubeconfig

# Test server binaries
cluster/test/server
cluster/test/testserver
