---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: provider-http-tls
  namespace: crossplane-system
  labels:
    app: provider-http-tls
spec:
  replicas: 1
  selector:
    matchLabels:
      app: provider-http-tls
  template:
    metadata:
      labels:
        app: provider-http-tls
      annotations:
        prometheus.io/path: /metrics
        prometheus.io/port: "8080"
        prometheus.io/scrape: "true"
    spec:
      serviceAccountName: provider-http-4520fff3598d
      containers:
        - name: provider-http-tls
          image: iaactmpreg.azurecr.io/provider-http:v0.1.0-tls
          imagePullPolicy: Always
          args:
            - --poll=10m
            - --debug
          env:
            - name: TLS_CLIENT_CERTS_DIR
              value: /tls/client
            - name: TLS_SERVER_CERTS_DIR
              value: /tls/server
            - name: POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: ESS_TLS_CERTS_DIR
              value: $(TLS_CLIENT_CERTS_DIR)
            - name: WEBHOOK_TLS_CERT_DIR
              value: $(TLS_SERVER_CERTS_DIR)
            - name: NO_PROXY
              value: crossplane-jb-k8s-function-int.azurewebsites.net
            - name: no_proxy
              value: crossplane-jb-k8s-function-int.azurewebsites.net
          ports:
            - containerPort: 8080
              name: metrics
              protocol: TCP
            - containerPort: 9443
              name: webhook
              protocol: TCP
          securityContext:
            allowPrivilegeEscalation: false
            privileged: false
            runAsNonRoot: true
            runAsUser: 2000
            runAsGroup: 2000
          volumeMounts:
            - mountPath: /tls/client
              name: tls-client-certs
              readOnly: true
            - mountPath: /tls/server
              name: tls-server-certs
              readOnly: true
      imagePullSecrets:
        - name: dockerconfigjson
      securityContext:
        runAsNonRoot: true
        runAsUser: 2000
        runAsGroup: 2000
      volumes:
        - name: tls-client-certs
          secret:
            secretName: provider-http-tls-client
            items:
              - key: tls.crt
                path: tls.crt
              - key: tls.key
                path: tls.key
              - key: ca.crt
                path: ca.crt
        - name: tls-server-certs
          secret:
            secretName: provider-http-tls-server
            items:
              - key: tls.crt
                path: tls.crt
              - key: tls.key
                path: tls.key
              - key: ca.crt
                path: ca.crt
